/*Carrousel*/
#slideshow {
    position: relative;
    padding-top: 60px;
    /*Titre section slider*/
    .container.container--slider {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /*pour positionner le titre au-dessus du slider*/
        z-index: 1;
        position: absolute;
        width: 100vw;
        top: 129px;
        align-items: center;
        > h1 {
            padding-bottom: 20px;
            color: white;
        }
    }
    > h1 {
        position: absolute;
        left: 40%;
        top: 55px;
        z-index: 1;
        color: white;
    }
    /*Slider*/
    .slider {
        position: relative;
        .slider_items {
            background-size: cover;
            height:500px;
            /*intégration image sur slide 1*/
            &#diapoUne {
                background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../public/img/actualitee1.png);
            }
            /*intégration image sur slide 2*/
            &#diapoDeux {
                background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../public/img/actualitee2.png);
            }
            /*intégration icônes RS*/
            &_reseaux {
                display: flex;
                justify-content: flex-end;
                > img.iconeReseau {
                    width: 3vw;
                    padding-right: 15px;
                }
            }
            > div {
                height: 395px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: end;
                padding: 10px;
                margin-right: 6vw;
                margin-top: 50px;
                margin-left: 45vw;
                > button {
                    margin-bottom: 60px;
                    margin-left: 30vw;
                }
                > p, h2 {
                    color: white;
                }
                h2 {
                    margin-left: 9vw;
                }
            }
        }
        div.slider_items {
            width: 100vw;
            height: 500px;
            img {
                width: 100vw;
                height: auto;
            }
        }
    }
}

/*flèches du carrousel*/
img.priv_arrow.slick-arrow {
    cursor: pointer;
    position: absolute;
    bottom: 332px;
    left: 83vw;
    z-index: 1;
}
img.next_arrow.slick-arrow {
    cursor: pointer;
    position: absolute;
    bottom: 332px;
    left: 90vw;
    z-index: 1;
}
