/*sass des 6 vignettes de même taille*/
.vignette {
    display: flex;
    flex-direction: column;
    width: 19.5vw;
    height: 250px;
    margin-right: 2vw;
    border-radius: 10px;
    text-align: left;
    display: flex;
    justify-content: flex-end; 
    > h2 {
        color: white;
        padding-bottom: 30px;
        padding-left: 30px;
        width: 218px;
    }
    > p {
        background-color: #e7f3ea;
        color: $colour-accent;
        font-weight: bold;
        font-size: 1.12rem;
        padding: 20px;
        padding-right: 30px;
        border-radius: 0px 0px 10px 10px;
    }
    &--image {
        overflow: hidden;
        > img {
            height: 100%;
            object-fit: cover;
        }
    }
    /*ajout des modificateur de la couleur de fond*/
    &--verte {
        background-color: $colour-accent;
    }
    &--bleuTurquoise {
        background-color: $colour-primary;
    }
    &--bleuCanard {
        background-color: $colour-secondary;
    }
    &--jaune {
        background-color: $colour-first;
    }
    &--gris {
        background-color: $colour-invalid;
    }
    &:hover {
        background-color: red;
        opacity: 0.5;
    }
}
/*grande vignette carte du mois*/
.vignette-carteDuMois {
    width: 49vw;
    height: 250px;
    background-color: $colour-complementary;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    &__container {
        display: flex;
        padding: 30px;
        border-bottom: 1px solid $colour-other;
        > img {
            height: 60px;
            padding-right: 2vw;
        }
        > h2 {
            color: $colour-other;
        }
    }
    > p {
        padding-top: 30px;
        padding-left: 30px;
    }
    &__container2 {
        display: flex;
    }
    &:hover {
        background-color: red;
        opacity: 0.5;
    }
}
/*vignette de la 2éme ligne avec photo*/
.vignette-image {
    width: 27.5vw;
    height: 250px;
    margin-right: 2vw;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    > img {
        width: 137%;
        object-fit: cover;
        position: absolute;
        top: -26px;
    }
    &:hover {
        background-color: red;
        opacity: 0.5;
    }
}
/*vignette de la 3éme ligne avec grande photo*/
.vignette-grandeImage {
    width: 62vw;
    height: 250px;
    margin-right: 2vw;
    margin-left: 37px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    > img {
        width: 100%;
        object-fit: cover;
        position: absolute;
        top: -180px;
    }
    &:hover {
        background-color: red;
        opacity: 0.5;
    }
}

/*Champ de saisie carte du mois*/
input {
    margin-top: 10px;
    margin-left: 30px;
    padding-left: 10px;
    width: 238px;
    height: 45px;
    border-radius: 22px;
    border: 1px solid white;
}

/*container du devis*/
.container-devis {
    display: flex;
    justify-content: center;
    &__vignette-devis {
        width: 83vw;
        height: 118px;
        margin-right: 2vw;
        margin-left: 37px;
        border-radius: 10px;
        background-color: $colour-complementary;
        overflow: hidden;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        > img {
            position: absolute;
            top: -40px;
            left: -108px;
        }
        > div {
            margin-left: 90px;
        }
    }
}