@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@font-face {
  font-family: "DINBlackAlternate";
  src: url("../../public/typo/DINBlackAlternate.ttf") format("truetype");
  font-family: "DINLightAlternate";
  src: url("../../public/typo/DINLightAlternate.ttf") format("truetype");
}
@font-face {
  font-family: "RalewayRegular";
  src: url("typo/Raleway-Regular.ttf") format("truetype");
  font-family: "RalewayBold";
  src: url("typo/Raleway-Bold.ttf") format("truetype");
  font-family: "RalewayItalic";
  src: url("typo/Raleway-Italic.ttf") format("truetype");
}
h1 {
  font-family: "DINLightAlternate", Arial, serif;
  color: #2b2b2a;
  font-size: 2.5rem;
}

h2 {
  font-family: "RalewayBold", Arial, serif;
  color: #00799b;
  font-size: 1.75rem;
}

h3 {
  font-family: "DINBlackAlternate", Arial, serif;
  color: #8fc89a;
  font-size: 1.125rem;
}

body {
  font-family: "SourceSansPro-Regular", Arial, serif;
  color: #2b2b2a;
  font-size: 1rem;
}

.header {
  background-image: url(../../public/img/imgHeader.png);
  background-size: cover;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__container {
  background-image: url(../../public/img/oval.png);
  background-repeat: no-repeat;
  background-position: center top;
  height: 285px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__container__logo {
  width: 13vw;
}
.header__container__p {
  padding-top: 25px;
  color: #00ada9;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background-color: rgba(242, 242, 242, 0.9);
  padding-right: 11vw;
  padding-left: 11vw;
}
.nav__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav__link__img {
  width: 0.5vw;
  padding-top: 10px;
}
.nav__link > p {
  font-family: "SourceSansPro-Regular", sans-serif;
  font-size: 1.313rem;
  color: #2b2b2a;
}
.nav__link--active {
  font-family: "SourceSansPro-Bold", sans-serif;
  padding-bottom: 16px;
}
.nav__link--active > img {
  display: none;
}
.nav__link--active > p {
  color: #00ada9;
  position: relative;
}
.nav__link--active > p::after {
  background-color: #00ada9;
  content: "";
  height: 7px;
  border-radius: 10px;
  opacity: 1;
  position: absolute;
  right: 58px;
  top: 36px;
  width: 60px;
}

.section {
  padding-top: 60px;
}
.section .container {
  display: flex;
  padding-bottom: 30px;
  justify-content: center;
}
.section .container--right {
  justify-content: end;
}
.section .container--left {
  justify-content: start;
}
.section .container--titre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section .container--titre > h1 {
  padding-bottom: 20px;
}

.vignette {
  display: flex;
  flex-direction: column;
  width: 19.5vw;
  height: 250px;
  margin-right: 2vw;
  border-radius: 10px;
  text-align: left;
  display: flex;
  justify-content: end;
}
.vignette > h2 {
  color: white;
  padding-bottom: 30px;
  padding-left: 30px;
  width: 218px;
}
.vignette > p {
  background-color: #e7f3ea;
  color: #8fc89a;
  font-size: 1.12rem;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
}
.vignette--image {
  overflow: hidden;
}
.vignette--image > img {
  height: 100%;
  object-fit: cover;
}
.vignette--verte {
  background-color: #8fc89a;
}
.vignette--bleuTurquoise {
  background-color: #00ada9;
}
.vignette--bleuCanard {
  background-color: #00799b;
}
.vignette--jaune {
  background-color: #fcc300;
}
.vignette--gris {
  background-color: #d2cecd;
}

.vignette-carteDuMois {
  width: 49vw;
  height: 250px;
  background-color: #f1f0f0;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.vignette-carteDuMois__container {
  display: flex;
  padding: 30px;
  border-bottom: 1px solid #797979;
}
.vignette-carteDuMois__container > img {
  height: 60px;
  padding-right: 2vw;
}
.vignette-carteDuMois__container > h2 {
  color: #797979;
}
.vignette-carteDuMois > p {
  padding-top: 30px;
  padding-left: 30px;
}
.vignette-carteDuMois__container2 {
  display: flex;
}

.vignette-image {
  width: 27.5vw;
  height: 250px;
  margin-right: 2vw;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.vignette-image > img {
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: -26px;
}

.vignette-grandeImage {
  width: 62vw;
  height: 250px;
  margin-right: 2vw;
  margin-left: 37px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.vignette-grandeImage > img {
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: -180px;
}

.vignette-devis {
  width: 83vw;
  height: 118px;
  margin-right: 2vw;
  margin-left: 37px;
  border-radius: 10px;
  background-color: #f1f0f0;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.vignette-devis > img {
  position: absolute;
  top: -40px;
  left: -108px;
}
.vignette-devis > div {
  margin-left: 90px;
}

#slideshow {
  position: relative;
  padding-top: 60px;
}
#slideshow .container.container--slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  position: absolute;
  width: 100vw;
  top: 129px;
  align-items: center;
}
#slideshow .container.container--slider > h1 {
  padding-bottom: 20px;
  color: white;
}
#slideshow > h1 {
  position: absolute;
  left: 40%;
  top: 55px;
  z-index: 1;
  color: white;
}
#slideshow .slider {
  position: relative;
}
#slideshow .slider .slider_items {
  background-size: cover;
  height: 500px;
}
#slideshow .slider .slider_items#diapoUne {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../public/img/actualitee1.png);
}
#slideshow .slider .slider_items#diapoDeux {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../public/img/actualitee2.png);
}
#slideshow .slider .slider_items_reseaux {
  display: flex;
  justify-content: end;
}
#slideshow .slider .slider_items_reseaux > img.iconeReseau {
  width: 3vw;
  padding-right: 15px;
}
#slideshow .slider .slider_items > div {
  width: 38vw;
  height: 395px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: end;
  padding: 10px;
  margin-left: 776px;
  margin-top: 50px;
}
#slideshow .slider .slider_items > div > button {
  margin-left: 275px;
  margin-bottom: 44px;
}
#slideshow .slider .slider_items > div > p, #slideshow .slider .slider_items > div h2 {
  color: white;
}
#slideshow .slider div.slider_items {
  width: 100vw;
  height: 500px;
}
#slideshow .slider div.slider_items img {
  width: 100vw;
  height: auto;
}

img.priv_arrow.slick-arrow {
  cursor: pointer;
  position: absolute;
  bottom: 332px;
  left: 82vw;
  z-index: 1;
}

img.next_arrow.slick-arrow {
  cursor: pointer;
  position: absolute;
  bottom: 332px;
  left: 89vw;
  z-index: 1;
}

input {
  margin-top: 10px;
  margin-left: 30px;
  padding-left: 10px;
  width: 238px;
  height: 45px;
  border-radius: 22px;
  border: 1px solid white;
}

.btn {
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 15px;
  padding-right: 15px;
  width: 238px;
  height: 45px;
  border-radius: 22px;
  background-color: #797979;
  border: 1px solid #797979;
  color: white;
  font-size: 1.12rem;
}
.btn--bleu {
  background-color: #00799b;
}
.btn--vert {
  background-color: #00ada9;
}

/*# sourceMappingURL=style.css.map */
