@font-face {
    font-family: 'DINLightAlternate';
    src: url('../../public/typo/DINLightAlternate.ttf') format('truetype');
}
@font-face {
    font-family: 'DINBlackAlternate';
    src: url('../../public/typo/DINBlackAlternate.ttf') format('truetype');
}
@font-face {
    font-family: 'RalewayBold';
    src: url('../../public/typo/Raleway-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'RalewayRegular';
    src: url('../../public/typo/Raleway-Regular.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

h1 {
    font-family: 'DINLightAlternate', Arial, serif;
    color: $colour-third;
    font-size: 2.5rem;
}
h2 {
    font-family: 'DINBlackAlternate', Arial, serif;
    color: $colour-secondary;
    font-size: 1.75rem;
}
h3 {
    font-family: 'DINBlackAlternate', Arial, serif;
    color: $colour-accent;
    font-size: 1.125rem;
}
h4 {
    font-family: 'DINBlackAlternate', Arial, serif;
    font-weight: bolder;
    font-size: 1.875rem;
    text-transform: uppercase;
    color: #797979;
}
body, p {
    font-family: 'Source Sans Pro', sans-serif;
    color: $colour-third;
    font-size: 1rem;
}