.section {
    padding-top: 60px;
    &__container {
        display: flex;
        padding-bottom: 30px;
        justify-content: center;
        &--right {
            justify-content: end;
        }
        &--left {
            justify-content: start;
        }
        &--titre {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            > h1 {
                padding-bottom: 20px;
            }
        }
    }
    &--backgroundGrey {
        background-color: #f1f0f0;
        position: relative;
    }
    &__bulle {
        position: absolute;
        &--un {
            position: absolute;
            top: -25px;
            left: 24vw;
        }
        &--deux {
            position: absolute;
            top: 74px;
            left: 84vw;
        }
        &--trois {
            position: absolute;
            bottom: -20px;
            left: 35vw;
        }
    }
}

@media (min-width: 1700px){
    .header__container > img {
        width: 10vw;
    }
}