.header {
    background-image: url(../../public/img/imgHeader.png);
    background-size: cover;
    height:700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__container {
        background-image: url(../../public/img/oval.png);
        background-repeat: no-repeat;
        background-position: center top;
        height: 285px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__logo {
            width: 13vw;
        }
        &__p {
            padding-top: 25px;
            color: $colour-primary;
        }
    }
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: rgba(242, 242, 242, 0.9);
    padding-right: 11vw;
    padding-left: 11vw;
    &__link {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__img {
            width: 0.5vw;
            padding-top: 10px;
        }
    }
}