.section {
    padding-top: 60px;
    .container {
        display: flex;
        padding-bottom: 30px;
        justify-content: center;
        &--right {
            justify-content: end;
        }
        &--left {
            justify-content: start;
        }
        &--titre {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            > h1 {
                padding-bottom: 20px;
            }
        }
    }
    &--backgroundGrey {
        background-color: #f1f0f0;
        position: relative;
    }
    &__bulle {
        position: absolute;
        &--un {
            position: absolute;
            top: -25px;
            left: 24vw;
        }
        &--deux {
            position: absolute;
            top: 74px;
            left: 84vw;
        }
        &--trois {
            position: absolute;
            bottom: -20px;
            left: 35vw;
        }
    }
}
.vignette {
    display: flex;
    flex-direction: column;
    width: 19.5vw;
    height: 250px;
    margin-right: 2vw;
    border-radius: 10px;
    text-align: left;
    display: flex;
    justify-content: flex-end; 
    > h2 {
        color: white;
        padding-bottom: 30px;
        padding-left: 30px;
        width: 218px;
    }
    > p {
        background-color: #e7f3ea;
        color: $colour-accent;
        font-weight: bold;
        font-size: 1.12rem;
        padding: 20px;
        padding-right: 30px;
        border-radius: 0px 0px 10px 10px;
    }
    &--image {
        overflow: hidden;
        > img {
            height: 100%;
            object-fit: cover;
        }
    }
    &--verte {
        background-color: $colour-accent;
    }
    &--bleuTurquoise {
        background-color: $colour-primary;
    }
    &--bleuCanard {
        background-color: $colour-secondary;
    }
    &--jaune {
        background-color: $colour-first;
    }
    &--gris {
        background-color: $colour-invalid;
    }
}
.vignette-carteDuMois {
    width: 49vw;
    height: 250px;
    background-color: #f1f0f0;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    &__container {
        display: flex;
        padding: 30px;
        border-bottom: 1px solid #797979;
        > img {
            height: 60px;
            padding-right: 2vw;
        }
        > h2 {
            color: #797979;
        }
    }
    > p {
        padding-top: 30px;
        padding-left: 30px;
    }
    &__container2 {
        display: flex;
    }
}
.vignette-image {
    width: 27.5vw;
    height: 250px;
    margin-right: 2vw;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    > img {
        width: 100%;
        object-fit: cover;
        position: absolute;
        top: -26px;
    }
}
.vignette-grandeImage {
    width: 62vw;
    height: 250px;
    margin-right: 2vw;
    margin-left: 37px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    > img {
        width: 100%;
        object-fit: cover;
        position: absolute;
        top: -180px;
    }
}
.vignette-devis {
    width: 83vw;
    height: 118px;
    margin-right: 2vw;
    margin-left: 37px;
    border-radius: 10px;
    background-color: #f1f0f0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    > img {
        position: absolute;
        top: -40px;
        left: -108px;
    }
    > div {
        margin-left: 90px;
    }
}

#slideshow {
    position: relative;
    padding-top: 60px;
    .container.container--slider {
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1;
        position: absolute;
        width: 100vw;
        top: 129px;
        align-items: center;
        > h1 {
            padding-bottom: 20px;
            color: white;
        }
    }
    > h1 {
        position: absolute;
        left: 40%;
        top: 55px;
        z-index: 1;
        color: white;
    }
    .slider {
        position: relative;
        .slider_items {
            &#diapoUne {
                background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../public/img/actualitee1.png);
            }
            &#diapoDeux {
                background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../public/img/actualitee2.png);
            }
            &_reseaux {
                display: flex;
                justify-content: end;
                > img.iconeReseau {
                    width: 3vw;
                    padding-right: 15px;
                }
            }
            background-size: cover;
            height:500px;
            > div {
                width: 38vw;
                height: 395px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: end;
                padding: 10px;
                margin-left: 776px;
                margin-top: 50px;
                > button {
                    margin-left: 275px;
                    margin-bottom: 44px;
                }
                > p, h2 {
                    color: white;
                }
            }
        }
        div.slider_items {
            width: 100vw;
            height: 500px;
            img {
                width: 100vw;
                height: auto;
            }
        }
    }
}

img.priv_arrow.slick-arrow {
    cursor: pointer;
    position: absolute;
    bottom: 332px;
    left: 82vw;
    z-index: 1;
}
img.next_arrow.slick-arrow {
    cursor: pointer;
    position: absolute;
    bottom: 332px;
    left: 89vw;
    z-index: 1;
}

.div-engagement {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 60px;
    .article-engagement {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        text-align: center;
        margin-left: 22px;
        margin-right: 22px;
        width: 20vw;
        > img {
            width: 27%;
            padding-bottom: 15px;
        }
        &--bold {
            font-family: 'DINBlackAlternate', Arial, serif;
            font-size: 1.125rem;
            padding-top: 9px;
        }
        &--yellow {
            color: $colour-first;
        }
    }
}




input {
    margin-top: 10px;
    margin-left: 30px;
    padding-left: 10px;
    width: 238px;
    height: 45px;
    border-radius: 22px;
    border: 1px solid white;
}
