$colour-primary: #00ada9;
$colour-secondary: #00799b;
$colour-accent: #8fc89a;
$colour-white: #d2cecd;
$colour-invalid: #d2cecd;
$colour-first: #fcc300;
$colour-second: #ffffff;
$colour-third: #2b2b2a;
$colour-complementary: #f1f0f0;
$colour-other: #797979;
